<%- include("partials/header.ejs") %>

<header style="height: 90vh; background-color: #f8f9fa;">
  <div id="particles-js"></div>
  <div class="container mb-5 mt-4">
    <div class="col-sm-12 mt-5">
      <h1><%= t('welcome') %></h1>
      <p style="font-size: 20px;"><%= t('welcome_text') %></p>
      <a href="/documentation#getStarted" class="btn btn-primary rounded-pill btn-md mt-1" role="button"
        data-bs-hover-animate="pulse" style="color: rgb(255,255,255);">Get Started!</a>
    </div>
    <div class="container col-sm-12 col-lg-6 mt-5">
      <img class="img-fluid float-right" src="/images/undraw_content_team_3epn.svg" alt="">
    </div>
  </div>
</header>

<section class="features-icons bg-light text-center" id="features">
  <div class="mb-5 pb-4">
    <h2> Ready-to-Use Virtual Labs one click away. </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon"><i class="icon-screen-desktop m-auto text-primary"
              data-bs-hover-animate="pulse"></i></div>
          <h3><%= t('features_01_header') %></h3>
          <p class="lead mb-0"><%= t('features_01_text') %></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon"><i class="icon-people m-auto text-primary"
              data-bs-hover-animate="pulse"></i></div>
          <h3><%= t('features_02_header') %></h3>
          <p class="lead mb-0"><%= t('features_02_text') %></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary"
              data-bs-hover-animate="pulse"></i></div>
          <h3><%= t('features_03_header') %></h3>
          <p class="lead mb-0"><%= t('features_03_text') %></p>
        </div>
      </div>
      <div class="col">
        <a href="/documentation" class="btn btn-primary rounded-pill btn-lg mx-2" role="button"
          data-bs-hover-animate="pulse" style="color: rgb(255,255,255);margin-top: 80px;">Documentation</a>
        <a href="/faq" class="btn btn-secondary rounded-pill btn-lg mx-2" role="button" data-bs-hover-animate="pulse"
          style="color: rgb(255,255,255);margin-top: 80px;">FAQ</a>
      </div>
    </div>
  </div>
</section>
<section class="showcase" id="services">
  <div class="container-fluid p-0">
    <div class="row no-gutters mb-5">
      <div class="col-lg-6 order-lg-2 text-white" style="background: url(/images/undraw_server_q2pb.svg) center / contain; height: 35vh; background-repeat:
        no-repeat;"><span></span></div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2><strong><%= t('on_demand') %>&nbsp; </strong></h2>
        <p class="lead mb-0"><%= t('on_demand_text') %></p><a class="btn btn-light border-dark" role="button"
          data-bs-hover-animate="pulse" style="margin: 0;margin-top: 20px;"
          href="https://api-client.swarmlab.io:8088">See more!</a>
      </div>
    </div>
    <div class="row no-gutters mt-5 mb-5">
      <div class="col-lg-6 text-white" style="background: url(/images/undraw_version_control_9bpv.svg) center / contain; height: 35vh;
        background-repeat: no-repeat;"><span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="margin: 0;">
        <h2><strong><%= t('git') %></strong></h2>
        <p class="lead mb-0"><%= t('git_text') %></p><a class="btn btn-light border-dark" role="button"
          data-bs-hover-animate="pulse" style="margin: 0;margin-top: 20px;" href="https://git.swarmlab.io:3000">See
          more!</a>
      </div>
    </div>
    <div class="row no-gutters mt-5 ">
      <div class="col-lg-6 order-lg-2 text-white" style="background: url(/images/undraw_taking_notes_tjaf.svg) center / contain; height: 35vh; background-repeat:
        no-repeat;"><span></span></div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2><strong><%= t('learning_objects') %>&nbsp; </strong></h2>
        <p class="lead mb-0"><%= t('learning_objects_text') %></p><a class="btn btn-light border-dark" role="button"
          data-bs-hover-animate="pulse" style="margin: 0;margin-top: 20px;"
          href="https://api-client.swarmlab.io:8088">See more!</a>
      </div>
    </div>
  </div>
</section>
<section class="testimonials bg-light" id="lab-rooms">
  <div class="container">
    <h2 class="mb-5 d-flex justify-content-center text-center"><%= t('available_swarmlab') %></h2>
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-light" style="background-color: #f8f9fa !important; box-shadow: none;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Lab-rooms" aria-label="Search" id="search">
      </nav>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-group">
          <div class="card" style="margin: 10px;">
            <div class="card-body">
              <h4 class="card-title"><%= t('python_header') %></h4>
              <p class="card-text text-muted">
                <%= t('python_text') %>
                <ul>
                  <li class="text-muted">NumPy</li>
                  <li class="text-muted">SciPy library</li>
                  <li class="text-muted">Matplotlib</li>
                  <li class="text-muted">IPython</li>
                  <li class="text-muted">SymPy</li>
                  <li class="text-muted">pandas</li>
                  <li class="text-muted">Spyder scientific environment.</li>
                </ul>
              </p>
            </div>
            <div class="card-footer" style="background-color: white;">
              <a class="btn btn-light btn-sm border-dark" role="button"><%= t('more_info') %></a>
            </div>
          </div>
          <div class="card" style="margin: 10px;">
            <div class="card-body">
              <h4 class="card-title"><%= t('node_header') %></h4>
              <p class="card-text text-muted">
                <%= t('node_text1') %>
                <ul>
                  <li class="text-muted"><%= t('node_text2') %></li>
                  <li class="text-muted"><%= t('node_text3') %></li>
                  <li class="text-muted"><%= t('node_text4') %></li>
                </ul>
              </p>
            </div>
            <div class="card-footer" style="background-color: white;">
              <a class="btn btn-light btn-sm border-dark" role="button"><%= t('more_info') %></a>
            </div>
          </div>
          <div class="card" style="margin: 10px;">
            <div class="card-body">
              <h4 class="card-title"><%= t('linux_header') %></h4>
              <p class="card-text text-muted">
                <%= t('linux_text1') %>
                <ul>
                  <li class="text-muted"><%= t('linux_text2') %></li>
                  <li class="text-muted"><%= t('linux_text3') %></li>
                  <li class="text-muted"><%= t('linux_text4') %></li>
                  <li class="text-muted"><%= t('linux_text5') %></li>
                </ul>
              </p>
            </div>
            <div class="card-footer" style="background-color: white;">
              <a class="btn btn-light btn-sm border-dark" role="button"><%= t('more_info') %></a>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card" style="margin: 10px;">
            <div class="card-body">
              <h4 class="card-title"><%= t('mpi_header') %></h4>
              <p class="card-text text-muted"><%= t('mpi_text') %></p>
            </div>
            <div class="card-footer" style="background-color: white;">
              <a class="btn btn-light btn-sm border-dark" role="button"><%= t('more_info') %></a>
            </div>
          </div>
          <div class="card" style="margin: 10px;">
            <div class="card-body">
              <h4 class="card-title"><%= t('r_header') %></h4>
              <p class="card-text text-muted"><%= t('r_text') %></p>
            </div>
            <div class="card-footer" style="background-color: white;">
              <a class="btn btn-light btn-sm border-dark" role="button"><%= t('more_info') %></a>
            </div>
          </div>
          <div class="card" style="margin: 10px;">
            <div class="card-body">
              <h4 class="card-title"><%= t('jdk_header') %></h4>
              <p class="card-text text-muted"><%= t('jdk_text') %></p>
            </div>
            <div class="card-footer" style="background-color: white;">
              <a class="btn btn-light btn-sm border-dark" role="button"><%= t('more_info') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action text-white text-center"
  style="background: url(/images/annie-spratt-QckxruozjRg-unsplash.jpg) center / cover;height: 400;" id="feedback">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4"> <%= t('bug') %></h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="row d-flex justify-content-center justify-content-xl-center"><a
            class="btn btn-secondary btn-lg border-secondary justify-content-center rounded-pill" role="button"
            data-bs-hover-animate="pulse" style="margin: 0;margin-top: 20px;background-color: rgb(40,45,51);"
            href="https://git.swarmlab.io:3000/swarmlab/feedback">Feedback</a></div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>